@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*body*/
body {
  background-color: #e9ddcc;
  background-image: url(../CSS/img/adsakldja.png);
  background-position: center;
  background-size: 25%;
  background-repeat: repeat; }

.contenedorIndex, .contenedorAccesos, .contenedorBody {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1.2fr;
  grid-template-areas: "header" "main" "footer";
  font-family: 'Nunito Sans', sans-serif;
  background-color: #e9ddcc;
  background-image: url(../CSS/img/adsakldja.png);
  background-position: center;
  background-size: 25%;
  background-repeat: repeat; }

/*estilos header mobile*/
header {
  display: block;
  position: fixed;
  background-color: #EA6523;
  z-index: 10;
  width: 100%;
  grid-area: header; }
  header nav div h1 {
    font-size: 1.5rem;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center; }
  header a img {
    height: 2rem; }

/*estilos main mobile*/
/*login*/
main {
  margin-top: 3.6rem;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  main div .imagenLogin {
    display: none;
    width: auto; }
  main div aside {
    display: flex;
    z-index: 10;
    text-align: center; }
    main div aside .formulario {
      display: grid;
      grid-template-columns: 5fr 5fr;
      grid-template-rows: repeat(6, 2fr);
      grid-template-areas: "usuario usuario" "contraseña contraseña" "recordarme recordarme" "div div" "invitado invitado" "recuperar recuperar";
      width: 100%;
      gap: 1rem; }
      main div aside .formulario input, main div aside .formulario label, main div aside .formulario div input, main div aside .formulario a input, main div aside .formulario .recuperar {
        font-size: 1.5rem;
        padding: 0.4rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        width: max-content;
        border-radius: 6px;
        color: black;
        border-width: 1px;
        border-color: gainsboro; }
      main div aside .formulario .usuario {
        grid-area: usuario; }
      main div aside .formulario .contraseña {
        grid-area: contraseña; }
      main div aside .formulario .formulario label {
        grid-area: recordarme; }
      main div aside .formulario .div {
        grid-area: div; }
      main div aside .formulario .boton {
        grid-area: invitado; }
      main div aside .formulario .recuperar {
        grid-area: recuperar; }
      main div aside .formulario div input, main div aside .formulario a input {
        font-size: 1.25rem;
        background-color: #455561;
        color: wheat;
        box-shadow: 2px 2px 5px gray;
        font-family: 'Nunito Sans', sans-serif;
        border-radius: 8px; }
      main div aside .formulario div input:hover, main div aside .formulario a input:hover {
        background-color: #EA6523;
        color: #e8e3e0;
        transform: scale(0.9); }

/*estilos index*/
main div .indexMobile {
  display: flex;
  display: block;
  flex-direction: column;
  align-items: center; }
  main div .indexMobile ul {
    gap: 2rem;
    list-style: none; }
    main div .indexMobile ul li a img {
      margin: 0.5rem;
      width: 300px; }

main div .orgLobby div {
  display: none; }

main div span {
  display: flex;
  justify-content: center; }
  main div span a .boton {
    background-color: #455561;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border: 2px solid black;
    font-weight: bold;
    color: antiquewhite;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0.5rem; }
  main div span .boton:hover {
    background-color: #EA6523;
    transform: scale(0.9); }

main div h2 {
  font-size: 1.2rem;
  background-color: #878e94;
  color: aliceblue;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif; }

/*estilos de los accesos*/
.mainAccesos {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%; }
  .mainAccesos h2 {
    width: 100%; }
  .mainAccesos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 3rem; }
    .mainAccesos ul li {
      width: 15rem;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #455561;
      border-radius: 5px 5px 5px; }
      .mainAccesos ul li a {
        text-decoration: none;
        color: white; }
      .mainAccesos ul li img {
        height: 3rem; }
    .mainAccesos ul li:hover {
      transform: scale(0.9); }

.mainContacto div .divContacto video {
  display: none; }

.mainContacto div .divContacto span {
  padding: 1rem;
  color: aliceblue;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #878e94; }

.mainContacto aside {
  border: 1px solid #EA6523;
  margin: 2rem;
  border-radius: 8px;
  border-width: 5px;
  background-color: #e8e3e0;
  text-align: left; }

/*footer*/
footer {
  background-color: #455561;
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  grid-area: footer;
  font-family: 'Oswald', sans-serif;
  align-items: center; }
  footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    footer ul li {
      font-size: 1rem;
      color: antiquewhite;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      height: 100%; }
    footer ul .logos {
      display: flex;
      display: none;
      flex-wrap: nowrap; }
      footer ul .logos .rrss {
        width: 2rem;
        margin: 0 1rem; }

.wpp {
  display: inline-block;
  position: sticky;
  background-color: #455561;
  width: 3.6rem; }

/*estilos pantalla completa*/
@media (min-width: 600px) {
  /*header*/
  header {
    position: relative;
    z-index: 11;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #EA6523;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    width: 100%; }
    header nav div h1 {
      font-size: 1.8rem; }
    header a img {
      height: 3.3rem; }
  /*main*/
  main {
    margin-top: 0; }
    main .mainLogin {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly; }
      main .mainLogin .imagenLogin {
        display: block;
        width: 600px; }
        main .mainLogin .imagenLogin .loguito {
          width: 70%; }
    main .mainAccesos {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      main .mainAccesos ul li {
        width: 25rem;
        padding: 3rem; }
        main .mainAccesos ul li img {
          height: 5rem; }
    main .lobby {
      padding: 0;
      width: 70%; }
      main .lobby h2 {
        border-radius: 3px 3px 3px; }
      main .lobby .carru {
        width: 80%; }
    main div .indexMobile {
      display: none; }
    main div .orgLobby div {
      display: block; }
  footer ul .logos {
    display: flex;
    display: block;
    flex-wrap: nowrap; }
    footer ul .logos .rrss {
      width: 3rem;
      margin: 0 1rem; }
  footer ul li {
    font-size: 1.5rem; } }

@media (min-width: 1024px) {
  header {
    padding: 0.4rem; }
    header nav div h1 {
      font-size: 1.2rem; }
    header a img {
      height: 1.5rem; }
  footer {
    padding: 0.5rem; }
    footer ul li {
      font-size: 1.3rem; }
    footer ul .logos .rrss {
      width: 1.8rem; }
  main .mainContacto {
    display: grid;
    grid-template-columns: 1.8fr 2fr;
    grid-template-rows: 2fr;
    grid-template-areas: "div2 aside2"; }
    main .mainContacto div {
      grid-area: div2; }
      main .mainContacto div .divContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        gap: 2rem; }
        main .mainContacto div .divContacto video {
          display: block; }
        main .mainContacto div .divContacto span {
          margin: 1rem;
          border-radius: 5px 5px 5px; }
          main .mainContacto div .divContacto span p {
            font-size: 1.25rem;
            text-align: justify;
            color: antiquewhite; }
    main .mainContacto aside {
      grid-area: aside2;
      text-align: start; }
  main .mainAccesos ul {
    gap: 1rem; }
    main .mainAccesos ul li {
      width: 17rem;
      padding: 3rem;
      gap: 0.5rem; }
      main .mainAccesos ul li img {
        height: 3rem; } }

@media (min-width: 1920px) {
  header {
    padding: 1rem; }
    header nav div h1 {
      font-size: 2.2rem; }
    header a img {
      height: 2.5rem; }
  footer {
    padding: 1rem; }
    footer ul li {
      font-size: 1.7rem; }
    footer ul .logos .rrss {
      width: 2.5rem; } }
