/*estilos header mobile*/
$naranja-cp: #EA6523;
header {
    display: block;
    position: fixed;
    background-color: $naranja-cp;
    z-index: 10;
    width: 100%;
    grid-area: header;
    nav div h1 {
        font-size: 1.5rem;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        text-align: center;
    }
    a img {
        height: 2rem;
    }
}
