/*estilos pantalla completa*/
@media (min-width: 600px) {
    /*header*/
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #EA6523;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
        width: 100%;
        nav div h1 {
            font-size: 2rem;
        }
        a img {
            height: 3.3rem;
        }  
    }  
    /*main*/
    main {
        .mainIndex {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            .imagenIndex {
                display: block;
                width: 600px;
                .loguito {
                    width: 70%;
                }
            
            } 
        .mainAccesos {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }       
        }
        .lobby {
            padding: 0;
            width: 70%;
            h2 {
                border-radius: 3px 3px 3px;
            }
            .carru{
                width: 90%;
            }
        }
        .mainContacto {
            display: grid;
            grid-template-columns: 1.8fr 2fr;
            grid-template-rows: 2fr;
            grid-template-areas: 
            "div2 aside2";
            div {
                grid-area: div2;
                .divContacto {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-self: center;
                    gap: 2rem;
                    video {
                        display: block;
                    }
                    span {
                        margin: 1rem;
                        border-radius: 5px 5px 5px;
                        p {
                            font-size: 1.25rem;
                            text-align: justify;  
                            color: antiquewhite;
                        }
                    }
                }
            }
            aside {
                grid-area: aside2;
                text-align: start;
            }
        }
    }
    footer {
        ul li {
            font-size: 1.5rem;
        }    
    }
}
   
